.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    border-radius: 0px;
    box-shadow: 5px 5px 5px gray;
}

.note
{
    font-size: 15px;
    white-space: pre-line;
}

body
{
    background-size: cover;
}

canvas
{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px wheat;
}